#input1, #textarea1 {
	width: 16em;
	font-size: inherit;
}
#textarea1 {
	height: 7em;
	resize: none;
	border: 1px solid grey;
}
#input1 {
	border: none;
	border-bottom: 1px dotted grey;
}
#input1:focus, #textarea1:focus, #select1:focus {
	outline: none;
}
#input1:focus {
	border-bottom: 1px solid black;
}
#textarea1:focus {
	border: 1px solid black;
}

@media (max-width: 767px) {
	#input1, #textarea1 {
		width: 10em;
	}
}
@media (max-width: 575px) {
	#input1, #textarea1 {
		width: 8em;
	}
	button[type="reset"], button[type="submit"] {
		display: block;
	}
}