.window-login-form {
	visibility: hidden;
}
.overlay-login-form {
	background: #454345;
	position: fixed;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	z-index: 1000;
}
.login-form, .login-form h3, .login-form input {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
}
.login-form {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -70%);
	width: 300px;
	height: 300px;
	padding: 15px 25px 0 25px;
	margin-top: 15px;
	cursor: default;	
	background-color: #141517;
	border-radius: 15px;
	z-index: 2000;
}
.login-form:before {
	position: absolute;
	top: -0.6em;
	left: 1em;
	
	width: 0px;
	height: 0px;
	content: '';
	
	border-bottom: 10px solid #141517;
	border-right: 10px solid #141517;
	border-top: 10px solid transparent;
	border-left: 10px solid transparent;
}
.login-form h3 {
	line-height: 2.5em;
	margin-bottom: 0.8em;
	font-family: 'Myriad Pro', sans-serif;
	font-size: 1em;
	font-weight: normal;
	color: #e4e4e4;
}
.login-form input[type=text],
.login-form input[type=password],
.login-form input[type=submit] {
	line-height: 1em;
	margin: 1em 0;
	padding: 6px 15px;
	border: 0;
	outline: none;
	font-family: Helvetica, sans-serif;
	font-size: 0.6em;
	font-weight: bold;
	border-radius: 26px;
	text-shadow: 0px 1px 1px rgba(255,255,255, .2);
}
.login-form input[type=text],
.login-form input[type=password] {
	color: #000;
	width: 90%;
	box-shadow: inset 1px 1px 1px 0px rgba(255,255,255, .6);
	background: #989898;
	background: linear-gradient(top,  #ffffff 0%,#989898 100%);
}
.login-form input[type=text]:hover,
.login-form input[type=password]:hover {
	box-shadow: inset 1px 1px 1px 0px rgba(255,255,255, .6), 0px 0px 5px rgba(255,255,255, .5);
}
.login-form input[type=text]:focus,
.login-form input[type=password]:focus {
	background: #e1e1e1;
	background: linear-gradient(top,  #ffffff 0%,#e1e1e1 100%);
}
.login-form input[type=submit] {
	float: right;
	cursor: pointer;
	color: #445b0f;
	padding: 0.4em 1.4em;
	box-shadow: inset 1px 1px 1px 0px rgba(255,255,255, .45), 0px 1px 1px 0px rgba(0,0,0, .3);
}
.login-form input[type=submit]:hover {
	box-shadow: inset 1px 1px 3px 0px rgba(255,255,255, .8), 0px 1px 1px 0px rgba(0,0,0, .6);
}
.login-form input[type=submit]:active {
	box-shadow: none;
}
.login-form input[type=submit] {
	background: #a5cd4e;
	background: linear-gradient(top,  #a5cd4e 0%,#6b8f1a 100%);
}
#nickname {
	text-align: right;
	margin-right: 2em;
}
#nickname p {
	display: inline-block;
	vertical-align: middle;
}
#quit {
	font-size: 0.7em;
	vertical-align: middle;
	padding: 2px 8px;
	border: 1px solid silver;
	border-radius: 2px;
	background-color: #D3D3D3;
	cursor: pointer;
}

@media (max-width: 575px) {
	.login-form {
		width: 90%;
		height: 90%;
	}
	.login-form h3 {
		font-size: 2.5em;
		margin-bottom: 0.8em;
	}
	.login-form input[type=text],
	.login-form input[type=password],
	.login-form input[type=submit] {
		line-height: 1.5em;
		margin: 0.7em 0;
		font-size: 1.8em;
	}
}
@media (max-width: 767px) {
	.login-form {
		width: 80%;
		height: 80%;
	}
	.login-form h3 {
		font-size: 1.8em;
	}
	.login-form input[type=text],
	.login-form input[type=password],
	.login-form input[type=submit] {
		line-height: 1em;
		font-size: 1.3em;
	}
	#nickname {
		font-size: 0.7em;
	}
}
@media (max-width: 991px) {
	.login-form {
		width: 80%;
		height: 80%;
		transform: translate(-50%, -52%);
	}
	.login-form h3 {
		font-size: 1.3em;
	}
	.login-form input[type=text],
	.login-form input[type=password],
	.login-form input[type=submit] {
		line-height: 1em;
		font-size: 1em;
		font-weight: normal;
		border-radius: 15px;
	}
}