.nav {
	margin: 2em 0 1em 0;
	padding: 0;
	text-align: center;
	list-style: none;
}
.nav li {
	display: inline;
	margin: 0 3em;
}
.nav a {
	display: inline-block;
	width: 5em;
	padding: 5px 15px;
	color: #fff;
	text-decoration: none;
	text-align: center;
	border-radius: 10px;
}

@media (max-width: 1199px) {
	.nav li {
		margin: 0;
	}
}
@media (max-width: 575px) {
	.nav li {
		display: block;
		margin: 0.2em;
	}
}