html {
	font-size: 28px;
}
p {
	vertical-align: top;
}
header {
	text-align: center;
}
body {
	visibility: hidden;
}	
button {
	margin: 0.4em 0 0.8em 0;
	width: 7em;
	height: 2.3em;
}
.button {
	display: inline-block;
	border-radius: 10px;
	color: #fff;
}
.black-button {
	background-color: black;
}
.main, footer {
	margin: 0 40px;
}
.form {
	display: table;
	margin: 0 auto;
}
.tableRow {
	display: table-row;
	border-spacing: 0.2em;
}
.tableRow p {
	display: table-cell;
}
.tableRow p:first-child {
	padding-right: 9.8em;
}
.tableRow p:nth-child(2n) {
	text-align: left;
}
.tableRow:last-child p {
	text-align: center;
}

label {
	vertical-align: top;
}
#select1 {
	width: 5em;
	border: 1px solid black;
	background-color: black;
	color: white;
	font-size: inherit;
	border-radius: 10px;
}
.form-button {
	width: 6em;
	border: none;
	font-size: inherit;
	margin: 0.8em;
}
.form-button:focus {
	outline: none;
}
.form-button:hover, #select1:hover {
	cursor: pointer;
}
.red-button {
	background-color: red;
}
.border-top {
	border-top: 2px solid black;
	padding-top: 20px;
}
.group-change span {
	display: inline-block;
	padding: 0.2em 0.7em;
	cursor: pointer;
}
.group-change p:first-child {
	padding-right: 0;
}
.warning {
	visibility: hidden;
	color: red;
	font-size: 0.6em;
}
.sort {
	text-align: center;
	font-size: 0.9em;
	margin: 0 auto;
}
.sort p {
	display: inline-block;
	margin: 0 0.5em;
}
.sort p:not(:first-child) {
	width: 8em;
	background-color: silver;
	border-radius: 5px;
	cursor: pointer;
}
footer {
	border-top: 1px solid black;
	margin: 0 auto;
	font-size: 0.8em;
	text-align: center;
}

@media (max-width: 991px) {
	.sort p {
		margin: 0 ;
	}
	.sort p:not(:first-child) {
		width: 6.95em;
		font-size: 0.85em;
	}
	.tableRow p:first-child {
		padding-right: 4em;
	}
}
@media (max-width: 767px) {
	.sort p:first-child {
		display: block;
	}
	.tableRow p:first-child {
		padding-right: 2em;
	}
}
@media (max-width: 575px) {
	.tableRow p {
		display: block;
	}
}