.task {
	height: 3.2em;
	text-align: center;
	margin: 3em 0;
	cursor: pointer;
}
.small-igm, .small-description {
	display: inline-block;
	margin: 0;
}
.small-img {
	width: 3.2em;
	height: 3.2em;
	margin: 0 1em;
}
.small-description {
	width: 50%;
	height: 100%;
	border: 1px solid black;
	text-align: left;
	overflow: hidden;
}

@media (max-width: 767px) {
	.small-description {
		width: 60%;
	}
}
@media (max-width: 575px) {
	.small-img {
		display: none;
	}
	.small-description {
		width: 90%;
	}
}